/**
 * GLOBAL STYLES TO WHOLE APPLICATION.
 *
 */
 @import 'variables.css';

 body {
   font-family: var(--body-font-family);
   margin: 0;
   -webkit-font-smoothing: antialiased;
   height:100%;
   width: 100%;
   margin:0;
}
#root {
    display: flex;
    flex-grow: 1;
    height:100vh;
}

